/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.zdj{width:75px;
float: right;}
.nag{color:hsl(12,18%,29%);
border-bottom:2px solid blue;
padding-bottom: 20px;
font-size:3.5em}
body{background-color:hsl(05,05%,75%)}
.tytul{font-weight:bold;
font-size: 2.5em;
color:hsl(40,60%,50%);
font-style: italic;
margin-top:20px;}
.link{border-top: 2px solid white;
border-left: 2px solid white;
border-bottom: 2px solid black;
border-right: 2px solid black;
padding: 5px 10px 5px 10px}
.link:hover{border-top: 2px solid black;
border-left: 2px solid black;
border-bottom: 2px solid white;
border-right: 2px solid white;
padding: 5px 10px 5px 10px}
