<!DOCTYPE html>
<html>
  <head>
    <title>Akinom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><h1 class="nag">Gorzowskie wydarzenia</h1>
    <%= yield  %>
  </body>
</html>
